<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Usuarios</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>EDAD</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios" class="text-center">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.name}}</td>
                        <td>{{usuario.lastname}}</td>
                        <td>{{usuario.age}}</td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<router-outlet></router-outlet>